In [ ]:
# Loading and activating the SQL extension to allow us to execute SQL in a Jupyter notebook.

%load_ext sql

In [ ]:
# Establishing a connection to the local database

%sql sqlite:///TMDB-a-4006.db

### Question 1

Who won the Oscar for “Actor in a Leading Role” in  2015?

In [ ]:
%%sql
SELECT
    *
FROM
    oscars
WHERE
    year = 2015
AND
    award = 'Actor in a Leading Role'
AND
    winner = 1.0;

### Question 2

What are the ten oldest movies in the database?

In [ ]:
%%sql
SELECT
    movie_id,
    title,
    release_date
FROM
    movies
WHERE
    release_date IS NOT NULL
ORDER BY
    release_date ASC
lIMIT
    10;

### Question 3

How many unique awards are there in the Oscars table?

In [ ]:
%%sql
SELECT
    COUNT(DISTINCT award)
FROM
    oscars;

### Question 4

How many movies are there that contain the word “Spider” within their title?

In [ ]:
%%sql
SELECT
    COUNT(DISTINCT title)
FROM
    movies
WHERE
    title
LIKE
    '%Spider%';

### Question 5

How many movies are there that are both in the "Thriller" genre and contain the word “love” anywhere in the keywords?

In [ ]:
%%sql
SELECT
    COUNT(DISTINCT movies.movie_id) AS No_of_Movies_with_Thriller_love
FROM
    movies
JOIN
    keywordmap
ON
    movies.movie_id = keywordmap.movie_id
JOIN
    keywords
ON
    keywordmap.keyword_id = keywords.keyword_id
JOIN
    genremap
ON
    movies.movie_id = genremap.movie_id
JOIN
    genres
ON
    genremap.genre_id = genres.genre_id

WHERE
    genre_name = 'Thriller'
AND
    keyword_name
LIKE
    '%love%';